[user]
	email =
	name =
[core]
	excludesfile = ~/dotfiles/configs/git/.gitignore
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RNFX
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	verbose = true
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
[alias]
	commend = commit --amend --no-edit
	branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset)\
		- %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	st = log --graph --abbrev-commit --decorate --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white)\
		- %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	addcw = -c interactive.diffFilter=\"git diff --color-words\" add -p
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
