[user]
    email = r.monomarh@gmail.com
    name = monomarh

[core]
    excludesfile = ~/.dotfiles/modules/git/configs/.gitignore
    editor = vim
    pager = diff-so-fancy | bat

[apply]
    whitespace = fix

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[commit]
    verbose = true

[color]
    ui = true

[color "diff"]
    whitespace = red reverse
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[diff-so-fancy]
    rulerWidth = 10

[credential]
    helper = store

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    commend = commit --amend --no-edit
    branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset)\
        - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    st = log --graph --abbrev-commit --decorate --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white)\
        - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
    addcw = -c interactive.diffFilter=\"git diff --color-words\" add -p

