
[user]
  email =
  name =
[core]
  excludesfile = config/git/.gitignore
  editor = nvim
  pager = less -+F
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[mergetool]
  keepBackup = false
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[commit]
  verbose = true
[color]
  ui = true
